/* General */

:root {
  --grd-clr-1: #ee7752;
  --grd-clr-2: #e73c7e;
  --grd-clr-3: #23a6d5;
  --grd-clr-4: #23d5ab;

  --four-color-gradient:
    linear-gradient(-45deg, var(--grd-clr-1), var(--grd-clr-2), var(--grd-clr-3), var(--grd-clr-4));
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', "Arial",sans-serif;
  height: min(100vh, 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

.page-wrapper {
  --gradient-border-width: 4px;
  --gradient-border-radius: 0 0 0.65em 0.65em;
  height: min(100vh, 100%);
}


/* Utilities */

.gradient-border {
  background-image: linear-gradient(white, white), linear-gradient(-45deg, var(--grd-clr-1), var(--grd-clr-2), var(--grd-clr-3), var(--grd-clr-4));
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: double var(--gradient-border-width, 2) transparent;
  border-radius: var(--gradient-border-radius, 0.5rem);
}

.text-gradient {
  background-image: var(--four-color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold {
  font-weight: bold;
}

/* word switcher */
.word-switcher {
  display: flex;
  align-items: center;
}

.word-switcher__static-text {
  font-weight: 400;
  width: fit-content;
}

.word-switcher__dynamic-text {
  height: 2em;
  margin: 0;
  padding: 0;
  line-height: 2em;
  overflow: hidden;
  margin-bottom: -1px;
  display: inline;
}

.word-switcher__dynamic-text li {
  list-style: none;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide calc(var(--item-count) * 3s) steps(var(--item-count)) infinite, opacity 3s infinite;
  overflow: hidden;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide {
  100% {
    top: calc(-2em * var(--item-count));
  }
}

/* word switcher end */


/* Header */

header {
  margin: 1rem;
  margin-top: 0;
  padding-top: 1rem;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list__item {
  margin-left: 1rem;
  margin-right: 1rem;
} 

.nav-list__item:not(.branding) a {
  font-size: 1.15rem;
}

.nav-list__item.branding {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
/* header end */


/* Main */

main {

}

main section {
  margin-left: 7%;
  margin-right: 7%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

section.main__announcement {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.information-text__first-part {
  font-size: 3rem;
}

.information-text__second-part {
  font-size: 1.4rem;
}

.main-content__button {
  margin-top: 1rem;
}

.main-content__button a {
  font-size: 1.5rem;
  font-weight: 700;

  /* color: white; */
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;

  display: block;
  margin: 0 auto;
  color: #fff;

  background: var(--four-color-gradient);
  background-size: 200% 200%;
  background-position: 100% 0%;

  transition: background-position 300ms ease-in-out;
}

.main-content__button a:hover {
background-position: 0% 100%;
}

/* main end */


/* Footer */

footer {

}

/* footer end */



/* page whats coming */
.section--heading {

}

.section--content {
  
}
/* page whats coming end*/